{% extends 'base.html' %}

{% block title %}
Text to check
{% endblock %}

{% block content %}
<div class="container">
    <a href="{{url_for('logout')}}">Logout</a> | <a href="{{url_for('history')}}">Query History</a> {% if admin %}| <a href="{{url_for('login_history')}}">Login and Logout History</a> {% endif %}
    <hr>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <form method="post" autocomplete="off">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% if admin %}
                    <input name="userid" id="userid"  class="form-control" placeholder="Search a User" pattern ="^((?!(<script(\s|\S)*?<\/script>)|(<style(\s|\S)*?<\/style>)|(<!--(\s|\S)*?-->)|(<\/?(\s|\S)*?>)).)*$" required autofocus>
                    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Search">
                    {% endif %}


                <h1 class="h3 mb-3 font-weight-normal">Login Logout History</h1>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                
                {% for query in queries %}
                    <ul>
                        <li><p id=login{{query.logid}}>{{ query.logid }}</p></li>
                        <li><p>{{ query.username }}</p></li>
                    <li><p id=login{{query.logid}}_time>{{ query.loginTime }}</p></li>
                    <li><p id=logout{{query.logid}}_time>{{ query.logoutTime if (query.logoutTime) else 'N/A'}}</p></li>
                    </ul>
                   
                {% endfor %}
               
        </div>
        <div class="col-1"></div>
    </div>
</div>

{% endblock %}
