{% extends 'base.html' %}

{% block title %}
Text to check
{% endblock %}

{% block content %}
<div class="container">
    <a href="{{url_for('logout')}}">Logout</a> | <a href="{{url_for('history')}}">Query History</a> {% if admin %}| <a href="{{url_for('login_history')}}">Login and Logout History</a> {% endif %}
    <hr>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <form method="post" autocomplete="off" id="userquery" >
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                {% if admin %}
                <input name="userquery" id="userquery" class="form-control" placeholder="Search a User" pattern ="^((?!(<script(\s|\S)*?<\/script>)|(<style(\s|\S)*?<\/style>)|(<!--(\s|\S)*?-->)|(<\/?(\s|\S)*?>)).)*$" required autofocus>
                <input type="submit" class="btn btn-lg btn-primary btn-block" value="Search">
                {% endif %}
            </form>
            
            <h1 class="h3 mb-3 font-weight-normal">Query History</h1>
                
                <b>Total Number of Queries:</b><p id="numqueries">{{numqueries}}</p>
                
              
                {% for query in queries %}
                 
                    <a id=query{{query.queryid}} href="{{url_for('query', id=query.queryid)}}">{{ query.queryid }}</a><br>

                    
                
                {% endfor %}
    
               


                


           
        </div>
        <div class="col-1"></div>
    </div>
</div>


{% endblock %}
